.maincontainer{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border:2px solid black;
    background-color: var(--primaryColor);
    color: var( --whiteColor);
    position:fixed;
    width: 100%;
    top: 0%;

}
.headerdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding: 10px;
    border:2px solid black;
    background-color: var(--primaryColor);
    color: var( --whiteColor); */

}
.h4div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 200px;
    /* flex-wrap: wrap; */
}
.home{
    margin-right:200px;
    margin-left: 100px;
}